<h2><%= @user.username %> </h2>

<% if current_user.id == @user.id %>
  <p><%= @user.email %></p>
  <p><a href="/users/<%=@user.id%>/edit">Edit</a>
  <a href="/users/<%=@user.id%>/delete">Delete</a></p>
<% end %>

<% @user.reviews.each do | review | %>
  <p><a href='/reviews/<%= review.id %>'><%= review.title %></a></p>
<% end %>

<h5>test</h5>