<h2><%= @user.username %> </h2>

<% if current_user.id == @user.id %>
  <p><%= @user.email %></p>
<% end %>

<h3>Places</h3>
<% @places.each do | place | %>
  <p><a href='/places/<%= place.id %>'><%= place.name %></a></p>
<% end %>

<h3>Reviews</h3>
<% @reviews.each do | review | %>
  <p><a href='/reviews/<%= review.id %>'><%= review.title %></a></p>
<% end %>
<br>

<% if current_user %>
  <% if current_user == @review.user || current_user.is_admin? %>
    <p><a href="/reviews/<%=@review.id%>/edit">Edit</a>
    <a href="/reviews/<%=@review.id%>/delete">Delete</a></p>
  <% end %>
<% end %>