<h2>Sign Up</h2>
<br>
<p>* Required</p>
<form action="/signup" method="POST" autocomplete="nope">
  <p>Username * <input type="text" name="username" id="username"></p>
    <% if flash[:user] %>
      <p><strong><%= flash[:user] %></strong></p>
    <% end %>
  <p>Email * <input type="text" name="email" id="email"></p>
    <% if flash[:email] %>
      <p><strong><%= flash[:email] %></strong></p>
    <% end %>
  <p>Password * <input type="password" name="password" id="password"></p>
    <% if flash[:password] %>
      <p><strong><%= flash[:password] %></strong></p>
    <% end %>
  <p>Retype Password * <input type="password" name="password_confirm" id="password_confirm"></p>
    <% if flash[:match] %>
      <p><strong><%= flash[:match] %></strong></p><br>
    <% end %>
  <br>
  <p>Have an admin key? Enter it here: <input type="text" name="admin_key"></p>
    <% if flash[:admin_mismatch] %>
      <p><strong><%= flash[:admin_mismatch] %></strong></p><br>
    <% end %>
  <input class="button" id="submit" type="submit">
</form>