<h2><%= @review.title %> by <a href="/users/<%= @review.user.id %>"><%= @review.user.username %></a></h2>
<br>

<h3><%= @place.name %></h3>
<p><%= @place.street %>, <%= @place.city %>, <%= @place.state %></p>
<br>
<form action="/reviews/<%= @review.id %>" method="POST" autocomplete="nope">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <p>Current Title: <%= @review.title %></p>
  <p>New Title: <input type="text" name="title"></p>
  <br>
  <p>TV on?: <%= @review.tv %></p>
  <p>Change: <select name="tv">
    <option value="--">--</option>
    <option value="yes">Yes</option>
    <option value="no">No</option>
    </select></p></p>
  <br>
  <p>Current Overall Volume: <%= @review.volume %></p>
  <p>New Overall Volume:
    <select name="volume">
    <option value="--">--</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select></p>
  <br>
  <p>Current Quality of Experience: <%= @review.quality %></p>
  <p>New Quality of Experience:
  <select name="quality">
    <option value="--">--</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select></p>
  <br>
  <p>Current Review: <%= @review.body %></p>
  <p>New Review:</p>
  <textarea id="body" name="body" rows="10" cols="94"></textarea></p>
  <br>
  <input class="button" type="submit" id="submit" value="Submit">
</form><br>