<h2>"<%= @review.title %>" by <a href="/users/<%= @review.user.id %>"><%= @review.user.username %></a></h2>

<h3><%= @place.name %></h3>
<p><%= @place.street %>, <%= @place.city %>, <%= @place.state %></p>
<br>

<form action="/reviews/<%= @review.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <p>Title: <input type="text" name="title" size="35" value="<%= @review.title %>"></p>
    <% if flash[:title] %>
      <p><strong><%= flash[:title] %></strong></p>
    <% end %>

  <p>TV on?: <%= @review.tv %></p>
  <p>Change: <select name="tv">
    <option value="--">--</option>
    <option value="yes">Yes</option>
    <option value="no">No</option>
    </select></p></p>
  <br>

  <p>Current Overall Volume: <%= @review.volume %></p>
  <p>New Overall Volume:
    <select name="volume">
    <option value="--">--</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select></p>
  <br>

  <p>Current Quality of Experience: <%= @review.quality %></p>
  <p>New Quality of Experience:
  <select name="quality">
    <option value="--">--</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select></p>
  <br>

  <p>Comments:</p>
  <textarea id="body" name="body" rows="6"><%= @review.body %></textarea></p>
    <% if flash[:body] %>
      <p><strong><%= flash[:body] %></strong></p>
    <% end %>
  <br>

  <input class="button" type="submit" id="submit" value="Submit">
</form><br>