
<h3>Create a Review</h3>
<p>* Required</p>
<p>Place:</p>
<form action="/reviews" method="POST">
  <% if @place %>
      <h2><%= @place.name %></h2>
       <input type="hidden" name="place_id" id="<%= @place.id %>" value="<%= @place.id %>"></input>
  <% else %>
    <%@places.each do |place|%>
      <input type="checkbox" name="place_id" id="<%= place.name %>" value="<%=place.id%>"><%=place.name%></input><br>
    <%end%><br><br>
  <% end %>
  <p>Title * <input type="text" name="title"></p>
    <% if flash[:title] %>
      <p><strong><%= flash[:title] %></strong></p>
    <% end %>
  <br>
  <p>TV On?:
  <select name="tv">
    <option value="--">--</option>
    <option value="yes">Yes</option>
    <option value="no">No</option>
    </select></p>

  <p>Overall Volume:
    <select name="volume">
    <option value="--">--</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select></p>

  <p>Quality of Experience:
    <select name="quality">
    <option value="--">--</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
  </select></p>

  <p>Your Review:
    <% if flash[:body] %>
      <p><strong><%= flash[:body] %></strong></p>
    <% end %>
  <textarea id="body" name="body"
            rows="10" cols="94">
  </textarea></p>
  <input class="btn btn-primary" type="submit" id="submit" value="Submit">
</form><br>