<h2><%= @review.title %> by <a href="/users/<%= @user.id %>"><%= @user.username %></a></h2>
<br>
<h3><%= @place.name %></h3>
<p><%= @place.street %>, <%= @place.city %>, <%= @place.state %></p>
<p>TV on?: <%= @review.tv %></p>
<p>Place Volume: <%= @review.volume %></p>
<p>Place Quality: <%= @review.quality %></p>
<p><%= @review.body %></p>
<a href="/">Home</a>
<a href="/reviews/<%=@review.id%>/edit">Edit</a>
<a href="/reviews/<%=@review.id%>/delete">Delete</a>