<h2><%= @review.title %> by <a href="/users/<%= @user.id %>"><%= @user.username %></a></h2>
<br>
<h3><a href="/places/<%= @place.id %>"><%= @place.name %></a></h3>
<p><%= @place.street %>, <%= @place.city %>, <%= @place.state %></p>
<p>TV on?: <%= @review.tv %></p>
<p>Place Volume: <%= @review.volume %></p>
<p>Place Quality: <%= @review.quality %></p><br>
<p>Comments:</p><br>
<p><%= @review.body %></p>
<br>

<% if current_user %>
  <% if current_user == @review.user || current_user.is_admin? %>
    <p><a href="/reviews/<%=@review.id%>/edit">Edit</a>
    <a href="/reviews/<%=@review.id%>/delete">Delete</a></p>
  <% end %>
<% end %>