<h2><%= @place.name %></h2>
<p><%= @place.street %></p>
<p><%= @place.city %>, <%= @place.state %></p>
<p><%= @place.category %></p>
<p><a href="<%= @place.website %>/edit"><%= @place.website %></a></p>
<p>Created by <a href="/users/<%= @place.user.id %>"><%= @place.user.username %></p>
<br>

<h3>Reviews</h3>
<% if @place.reviews %>
  <% @reviews.each do | review | %>
    <p><a href="/reviews/<%= review.id %>"><%= review.title %></a></p>
  <% end %>
<% end %>
<br>
<p><a href="/reviews/new/<%= @place.id %>">Review <%= @place.name %></a></p>
<br>
<% if current_user %>
  <% if current_user == @place.user || current_user.is_admin? %>
    <p><a href="/places/<%=@place.id%>/edit">Edit</a>
    <a href="/places/<%=@place.id%>/delete">Delete</a></p>
  <% end %>
<% end %>