<h2><%= @place.name %></h2>
<br>
<p><%= @place.street %></p>
<p><%= @place.city %>, <%= @place.state %></p>
<p><a href="<%= @place.website %>>/edit"><%= @place.website %></a></p>
<br>

<h3>Reviews</h3>
<% if @place.reviews %>
  <% @place.reviews.each do | review |%>
    <p><a href="/reviews/<%=review.id%>"><%=review.title%></a></p>
  <%end%>
<%end%>

href="/places/<%=@place.id%>/edit">Edit</a>
<a href="/places/<%=@place.id%>/delete">Delete</a>